.container_register{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(192, 179, 179, 0.678);
    justify-content: center;
    align-items: center;
}

.input_register{
    display: flex;
    height: 65%;
    width: 40%;
    background-color:white;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border-style: groove;
    border-color: gray;
    box-shadow: 5px 5px 5px black;
    filter: drop-shadow(20px 5px 10px black) ;

}


.close{
    display: flex;
    width: 100%;
    height: 10%;

    justify-content: flex-end;

}

.close_register{
background-color: red;

}

.img_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 15%;
}

.img_register{
    width: 20%;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}



.style_input{
    display: flex;
    width: 93%;
    padding: 10px;
    border-radius: 5px;
    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.btn_register{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    background-color: aqua;
}

@media (max-width: 500px) {
    .style_input{
        display: flex;
        width: 85%;
        padding: 10px;
        border-radius: 5px;}

        .close{
            display: flex;
            width: 100%;
            height: 5%;
            justify-content: flex-end;
        
        }

        .input_register{
            display: flex;
            height: 50%;
            width: 65%;
            background-color:white;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            border-style: groove;
            border-color: gray;
            box-shadow: 5px 5px 5px black;
            filter: drop-shadow(20px 5px 10px black) ;
        
        }
        
        
}